@import "tailwindcss";
.macondo {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}